*{
    box-sizing: border-box;
}

body{
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Open Sans', Arial;
}

#help{
    background-color: yellow;
    color: red;
    font-weight: bold;
    text-align: center;
}

#container{
    display: -webkit-flex;		
    display: -ms-flexbox;		
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
}

#header{
    background-color: #017189;;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    color:#fff;
}
#header img{
    float: left;
}

#menu{
    background-color: #c6b099;
    flex-grow: 1;
}

#content{
    background-color: #dacab1;
    flex-grow: 1;
    padding: 20px;    
}

#footer{
    background-color: #2C2C2CD6;
    padding: 20px;
    text-align: center;
    color: #fff;
    border-radius: 0 0 20px 20px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
}

.menu li{
    border-bottom: 1px dotted #2C2C2C;
}

.menu li:first-child{
    border-top: 1px dotted #2C2C2C;
}

.menu li a{
    text-decoration: none;
    color: #2C2C2C;
    display: block;
    padding: 10px;
    transition: all 0.7s;
}

.menu li a:hover{
    background-color: #2C2C2C;
    color: white;
    padding-left: 25px;
    border-left: 10px solid white;
   transition: all 0.3s;
}

em{
    color: red;
}
input,
textarea{
    padding: 10px;
    border: none;
    width: 50%;
    opacity: 0.5;
}
input:focus{
    opacity: 1;
}
input[type='submit']{
    text-transform: uppercase;
    background-color: #017189;;
    color: #fff;
    border-radius: 20px;
    opacity: 1;
}

.hirbox{
    border: 1px solid brown;
    margin: 10px;
    padding: 10px;
}

.hirbox p{
    text-align: justify;
    line-height: 200%;
}

.leiras {
    width: 840px;
    height: 300px;
}

h3{
    width: 100%;
}
h3 span{
    float: right;
}